.popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: none;
}
.popup__opened{
    display: flex;
}

/* Сделать так, чтобы не было верхнего отступа*/