.gallery{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    row-gap: 21px;
    column-gap: 16px;
    grid-template-rows: repeat(2, 361px);
}
@media screen and (max-width: 999px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 610px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}