.header{
    min-width: 868px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width:  999px){
    .header{
        min-width: 99%;
        max-width: 100%;
        width: 100%;
        margin-top: 28px;
        height: 56px;
    }
}


