.profile__button_action_edit-avatar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    border: none;
    outline: none;  
}
.profile__button_action_edit-avatar::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/pencil_icon.svg);
    position: absolute;
    content: '';
}
.profile__button_action_edit-avatar:hover{
    opacity: 1;
    cursor: pointer;
}