@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__initials/profile__initials.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__button/_action/profile__button_action_edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__button/_action/profile__button_action_add.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__item-title/gallery__item-title.css);
@import url(../blocks/gallery/__item-image/gallery__item-image.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__item-description/gallery__item-description.css);
@import url(../blocks/gallery/__like-button/gallery__like-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/profile/__part/profile__part.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/form/__handler/form__handler.css);
@import url(../blocks/form/__item/_action/form__item_action_edit-job.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
@import url(../blocks/gallery/__delete-button/gallery__delete-button.css);
@import url(../blocks/gallery/__cover/gallery__cover.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/zoom/zoom.css);
@import url(../blocks/zoom/__container/zoom__container.css);
@import url(../blocks/zoom/__close-button/zoom__close-button.css);
@import url(../blocks/gallery/__like-button/_liked/gallery__like-button_liked.css);
@import url(../blocks/zoom/__image/zoom__image.css);
@import url(../blocks/zoom/__title/zoom__title.css);
@import url(../blocks/zoom/__body/zoom__body.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__item/form__item-red.css);
@import url(../blocks/form/__input-error/_active/form__input-error_active_true.css);
@import url(../blocks/form/__item/_invalid/form__item_invalid.css);
@import url(../blocks/form/__submit-button/_disabled/form__submit-button_disabled_true.css);
@import url(../blocks/confirmation/confirmation__button.css);
@import url(../blocks/confirmation/confirmation__container.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__button/_action/profile__button_action_edit-avatar.css);
@import url(../blocks/gallery/__like-counter/gallery__like-counter.css);
