.popup__container{
    background-color: white;
    min-height: 111px;
    max-height: 400px;
    width: 358px;
    padding: 34px 36px 36px 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.a{
    min-height: 202px;
}
@media screen and (max-width: 600px){
    .popup__container{
        width: 90%;
    }
}
