.zoom__container{
    max-height: 75vh;
    max-width: 75vw;
    margin: auto;   
    display: flex;
    position: relative;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
}
